<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>    
        {{ voted}}
    
    </title>

    {% load static %}
    {% load staticfiles %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,60,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">

    <style>
    .labelid{
      width: 200 px;
    }
    </style>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% if request.user.is_authenticated %}{% url 'council:check' %}{% else %}#page-top{% endif %}">Students' Council</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">


            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#portfolio">Works</a>
          </li>


          <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>

              {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'grievance:post_list' %}">Redressal Forum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'polls:index' %}">Elections</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="{% url 'account_logout' %}">Logout</a>
            </li>
              {% else %}
            
            <li class="nav-item">
              <a class="nav-link " href="{% url 'account_signup' %}">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'account_login' %}">Login</a>
            </li>

            {% endif %}

          </ul>
        </div>
      </div>
    </nav>



    {% if user.is_superuser %}
    <header class="masthead text-center text-white d-flex">
            <div class="container my-auto">
              <div class="row">
                <div class="col-lg-10 mx-auto">
                  <h1 class="text-uppercase">
                  </h1>
                </div>
                <div class="col-lg-8 mx-auto">
                    <p>Check the results     
                    
                    </p>

                        <form action="{% url 'polls:results' %}" method="post">
                                {% csrf_token %}
                               
                                <label for="sel1">Select Year:
                                    <br>
                                    <br>


                                <select class="form-control" id="sel" name="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        
                                      </select></label>
                                      <br>
                                      <br>
                                      

                                      <label for="sel2">Select Branch:
                                          <br>
                                          <br>

                                      <select class="form-control" id="sel" name="sel2">
                                              <option>CS</option>
                                              <option>EC</option>
                                              <option>IT</option>
                                              <option>EE</option>
                                              <option>ME</option>
                                              <option>CH</option></label>


                                            </select>
                                            <br>
                                            <br>
                                            <label for="sel3">Select Section:
                                            <select class="form-control" id="sel" name="sel3">
                                                <option>1</option>
                                                <option>2</option>
      
      
                                                  </select></label>
                                                  <br>
                                                  <br>
                                                  <br>
                                <input class="btn btn-primary btn-xl js-scroll-trigger" type="submit" value="Class Elections" style='float-left:50%'>
                                </form>
                    
                    
                </div>
              </div>
            </div>
          </header>
    {% else  %}
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Chose your Representatives Independently {{ user.first_name }}</strong>
            </h1>
            <hr>
          </div>
          {% if voted is False %}
          <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5"> {{ user.username }}  {{ user.year }}/{{ user.branch }}/{{ user.section }}</p>
            <p class="text-faded mb-5">A leader's job is not to do the work for others, it's to help others figure out how to do it themselves, to get things done, and to succeed beyond what they thought possible. So Chose your leader wisely.(Fake Content which will be changed) </p>

            
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ user.year }}/{{ user.branch }}/{{ user.section }}">Class Elections</a>
          </div>
        </div>
        {% else %}
         <div class="container my-auto">
           <div class="row">
             <div class="col-lg-10 mx-auto">
               <h3> You have already voted
               </h3>
            </div>
        {% endif %}
      </div>
    </header>
    {% endif %}
    <a href="1/results">http://127.0.0.1:8001/polls/1/results</a>



    <section id="final">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Ready to work with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">feedback@studentscouncil.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/creative.min.js' %}"></script>

  </body>

</html>
