{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block css_links %}
<link rel="stylesheet" href="{%static 'css/account/signup.css'%}">
<link rel="stylesheet" href="{%static 'css/base.css' %}">
<style media="screen">
.btn btn-default dropdown-toggle{
  margin:auto;

}

#id_is_admin{
  opacity:10;
  pointer-events: auto;
}

#id_is_member{
  opacity:10;
  pointer-events: auto;
  

}


.navbar {
  height: 50px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  background: linear-gradient(#234c54, #071b1f);
}

.btn btn-default dropdown-toggle{
  margin:auto;
}

.carousel {
  height  : 622px;
}
.carousel-inner {
  height : 100%;
}

.form-inline .btn {
  color : rgba(255,255,255,0.7);
  border : 1px solid rgba(255,255,255,0.7);
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>{% trans "Sign Up" %}</h1>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>


</div>
{% endblock %}
