{% extends 'council/base.html' %}

{% block body %}

<style>

    #myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
    bottom :0;
    position:absolute;
    right:0;
    left:0;
}
#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}
#myFooter .row {
    margin-bottom: 0px;
}
#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}
#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}
#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}
#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}
#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}
#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}
#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}
#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}
#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}
#myFooter .social-networks a:hover {
    text-decoration: none;
}
#myFooter .facebook:hover {
    color: #0077e2;
}
#myFooter .google:hover {
    color: #ef1a1a;
}
#myFooter .instagram:hover {
    color: #ef1a10;
}
#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}
@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}


</style>

{#<button type="button" class="btn btn-outline-secondary float-right"#}
{#        style="margin: 10px;padding: 20px;" data-toggle="modal" data-target="#ModalCenter">Add member</button>#}

<a href = "{% url 'council:signup' %}"><button type="button" class="btn btn-outline-secondary float-right"
        style="margin: 10px;padding: 20px;" >Add member</button></a>


<!-- Modal -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="post" style="font-size: 25px;">
              {% csrf_token %}
              {% for field in form %}
                  <p>
                {{ field.label_tag }} {{ field }}
                  </p><br>
              {% endfor %}
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row" style="">

<div class="card" style="width: 18rem;margin:8px">
  <div class="card-body">
    <h5 class="card-title">Meet 1</h5>
    <h6 class="card-subtitle mb-2 text-muted">Conducted on 04-10-2018</h6>
    <p class="card-text">Contains all the description of the meet</p>
      <ul class="">
          <li>Description through points</li>
      </ul>
    <a href="#" class="card-link">Website</a>
    <a href="#" class="card-link">Download</a>
  </div>
</div>

    <div class="card" style="width: 18rem;margin:8px">
  <div class="card-body">
    <h5 class="card-title">Meet 2</h5>
    <h6 class="card-subtitle mb-2 text-muted">Conducted on 05-10-2018</h6>
    <p class="card-text">Contains all the description of the meet</p>
      <ul class="">
          <li>Description through points</li>
      </ul>
    <a href="#" class="card-link">Website</a>
    <a href="#" class="card-link">Download</a>
  </div>
</div>

        <div class="card" style="width: 18rem;margin:8px">
  <div class="card-body">
    <h5 class="card-title">Meet 3</h5>
    <h6 class="card-subtitle mb-2 text-muted">Conducted on 06-10-2018</h6>
    <p class="card-text">Contains all the description of the meet</p>
      <ul class="">
          <li>Description through points</li>
      </ul>
    <a href="#" class="card-link">Website</a>
    <a href="#" class="card-link">Download</a>
  </div>
</div>
    </div>
</div>

<footer id="myFooter">

        <div class="container">

            <div class="row">

                <div class="col-sm-3">

                    <h2 class="logo"><a href="#" style="font-size:larger;">Students' Council</a></h2>

                </div>

                 <div class="col-sm-2">

                    <h5>Get started</h5>

                    <ul>
                        <li><a href="#">Home</a></li>
                        <!--<li><a href="#">Sign up</a></li>-->
                    </ul>

                </div>

                <div class="col-sm-2">

                    <h5>About us</h5>

                    <ul>
                        <!--<li><a href="#">Company Information</a></li>-->


                        <li>   <a href="mailto:sohampatil798@gmail.com" rel="nofollow">Mail Us </a></li>
                        <!--<li><a href="secondpages/Team.html">Visit Team</a></li>-->
                    </ul>

                </div>

                <div class="col-sm-2">

                    <h5>Support</h5>

                    <ul>
                        <li><a href="secondpages/Enquiry_page.html">Send Enquiry</a></li>
                        <li><a href="secondpages/Contact Us page.html">Contact Us</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>

                </div>

                <div class="col-sm-3">

                    <div class="social-networks">

                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>

                    <button type="button" class="btn btn-default">Review Us</button>

                </div>

            </div>
        </div>

        <div class="footer-copyright">

            <p>All rights reserved </p>

        </div>

    </footer>

{% endblock %}