<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'grievance/css/base.css' %}">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
     <meta name="viewport" content="width=device-width, iniial-scale=1">

     {% block css_links %}

     {%endblock%}


       <style>

           .prim-color{

               background-color:rgb(234, 51, 85);
           }


       </style>
  </head>
  <body>


    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper prim-color">

          <a href="{% url 'council:home' %}" class="brand-logo">Council Administration Portal</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
           
            <li><a href="{% url 'grievance:post_list' %}">Redressal Forum</a></li>
            {% if request.user.is_authenticated %}
            {% else %}
            <li><a href="{% url 'account_login' %}">Login</a></li>
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}

            <li><a href="{% url 'council:home' %}">Home</a></li>

          </ul>
        </div>
      </nav>

    </div>

    <ul class="sidenav" id="mobile-demo">
        {% if user.is_authenticated %}

        {% else %}
        <li><a href="{% url 'account_login' %}">Login</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      <li><a href="{% url 'council:home' %}">Home</a></li>

    </ul>


    {% block content %}

    {% endblock %}

    {% block body_block %}

    {% endblock %}

    <br><br><br><br>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © Students' council 2018
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>


<script>
$(document).ready(function(){
  $('.sidenav').sidenav();
});
</script>


  </body>
</html>
