{% extends "base.html" %}


{% block content %}



<div class="container">
  <div class = "row" style="margin-top:5em;">
    <div class="col s6">
      <h2 style="margin:0px; float:left;">Suggestions</h2>
    </div>
    <div class="col s6">
      <a class="waves-effect waves-light btn-large" style="float:right;" href="{% url 'grievance:add_post' %}">Add Grievance</a>
    </div>
  </div>

  <div class="container suggestions-text">

  <div class="container">
    <h3 style="margin:2% 0 1% 5%;">What's this?</h3>
    <p class="text-usage">Students can drop their suggestions/complaints here, which shall regularly be addressed by the candidate.</p>
    <p class="text-usage">If a student happens to have a suggestion that's already posted, she may upvote it in order to increase its priority of redressal.</p>
    <p class="text-usage">The candidates opinion on a suggestion/ status of the work being done on it can be seen using 'Redressal'.</p>

  </div>

  </div>

   {% for post in posts %}
       {% include "grievance/complaints/post_detail.html" with post=post %}
   {% endfor %}
</div>

{% endblock %}
